* {
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: "Bungee";
	src: url("../fonts/Bungee-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	line-height: 2;
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "Bungee", Arial;
}
p {
	font-size: 18px;
}
.centContainer {
	width: 80%;
	margin: 0px auto;
}
/*	HEADER  */
#mainHeader {
	background-color: #590212;
	color: #fff;
	min-height: 100px;
	font-family: "Bungee", Arial, Helvetica, sans-serif;
	border-bottom: 3px solid #F2B705;
	padding: 30px 0px;
}
.branding {
	float: left;
	margin-top: 10px;
}
#mainNav {
	float: right;
	margin-top: 40px;
}
#mainNav ul {
	list-style: none;
	padding: 0;
}
#mainNav li {
	display: inline-block;
}
#mainNav a {
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
}
#mainNav a:hover {
	color: #F2B705;
}
#mainNav a:active {
	color: #064073;
}
#mainNav .current {
	color: #F2B705;
}
/*	HERO SECTION  */
.hero {
	min-height: 500px;
	background-image: url("../images/hero.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}
#heroAlpha {
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 500px;
}
.hero h1 {
	padding-top: 150px;
	text-shadow: 1px 1px 3px #000;
}
/* Featured Products */
.featuredProducts {
	background-color: #064073;
	color: #fff;
}
.featuredProducts h2 {
	padding: 40px 0px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
.productGrid {
	width: 100%;
	padding: 20px 0px 40px 0px;
	display: flex;
}
.featuredSoda {
	width: 33%;
	margin: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	flex-direction: row;
}
.featuredSoda img {
	width: 100%;
}
.featuredCaption {
	background-color: #590212;
	position: relative;
	text-align: center;
}
/*	ABOUT PREVIEW*/
.aboutPreview {
	min-height: 500px;
	background-image: url("../images/whatsPopStop.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
#aboutAlpha {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 500px;
}
.aboutPreview h2 {
	padding-top: 150px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
.btn {
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	background-color: #590212;
	width: 100px;
	border: 2px solid #f2b705;
	border-radius: 10px;
	margin: 10px auto 0 auto;
	padding: 5px;
}
/* ORDER BANNER */
.orderBanner {
	min-height: 500px;
	background-image: url("../images/backgroundSoda.webp");
	background-repeat: repeat;
	color: #fff;
}
.orderAlpha {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 500px;
}
.orderBanner h2 {
	padding-top: 175px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
/**  NEWSLETTER */
.newsletter {
	min-height: 500px;
	background-color: #D95204;
	color: #fff;
}
.newsletter h3 {
	padding-top: 150px;
	padding-bottom: 30px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
.newsletter .sodaForm {
	margin: 0px auto;
	text-align: center;
}
.newsletter label,
.newsletter input {
	font-family: "Bungee";
}
.newsletter label {
	font-size: 18px;
	padding-right: 10px;

}
.newsletter input {
	padding: 10px;
	border-radius: 5px;
	margin-right: 10px;
	border: 2px solid #F2B705;
	background-color: #590212;
	color: #fff;
}
.newsletter button {
	background-color: #064073;
	color: #fff;
	border: 2px solid #F2B705;
	padding: 10px;
	border-radius: 10px;
}

/* FOOTER */
#mainFooter {
	padding: 40px 0px;
	background-color: #590212;
	border-top: 3px solid #f2b705;

}
#mainFooter p {
	color: #fff;
	text-align: center;
}
/* ---------------------------------
						ABOUT PAGE            
-----------------------------------*/
.jamieRamirezPic {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #064073;
}
#about {
	padding: 40px 10px;
	width: 70%;
	box-sizing: border-box;
	float: left;
}
#about h2 {
	padding-bottom: 20px;
}
.blueBG {
	background-color: #064073;
	color: #fff;
	border-radius: 20px;
	padding: 20px;
}
.orangeBG {
	background-color: #D95204;
	color: #fff;
	border-radius: 15px;
	padding: 10px;
}
#aboutVideo {
	margin: 20px auto;
	width: 100%;
}
#whatWeDo {
	padding: 40px 10px;
	width: 30%;
	float: right;
	box-sizing: border-box;
}
#whatWeDo h3 {
	padding-bottom: 20px;
}
.clearFootAbout {
	clear: both;
}
.clearFootAbout p {
	padding-bottom: 200px;
}
@media (max-width: 847px) {
	.branding,
	#mainNav {
		float: none;
		display: block;
		text-align: center;
	}
	.featuredProducts h2 {
		padding: 20px 0px;
	}
	.productGrid {
		display: block;
	}
	.featuredSoda {
		width: 70%;
		margin: 20px auto 20px auto;
	}
	.aboutPreview h2 {
		padding-top: 75px;
	}
	/* ---------------------------------
						ABOUT PAGE            
	-----------------------------------*/
	#about,
	#whatWeDo {
		float: none;
		width: 100%;
	}
	.blueBG {
		margin-top: 20px;
	}
}
@media (max-width: 560px) {
	#mainNav {
		margin-top: 10px;
	}
	#mainNav a {
		font-size: 12px;
	}
	.hero h1 {
		padding-top: 75px;
	}
	.aboutPreview h2 {
		padding-top: 20px;
	}
	.newsletter input {
		margin-bottom: 10px;
	}
	/* ---------------------------------
						ABOUT PAGE            
	-----------------------------------*/
	#about h2 {
		text-align: center;
	}
	.jamieRamirezPic {
		float: none;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	#whatWeDo h3 {
		text-align: center;
	}
	.blueBG {
		box-sizing: border-box;
		padding: 10px;
	}
}
@media (max-width: 375px) {
	.hero h1 {
		padding-top: 30px;
	}
	
	#aboutAlpha {
		padding-bottom: 20px;
	}
	.aboutPreview h2 {
		padding-top: 20px;
	}
	.aboutPreview p {
		font-size: 17px;
	}
}